<div class="container py-3 mb-3">
  <div class="row g-3">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Solicitar saque</h5>
          <%= form_tag backoffice_withdraws_path, method: :post do |f| %>
            <div class="row">
              <% flash.each do |type, msg| %>
                <div class="alert alert-info">
                  <%= msg %>
                </div>
              <% end %>
              <div class="col-auto">
                <%= label_tag :balance, "Valor para saque", class: "form-label" %><br />
                <div class="input-group">
                  <%= text_field_tag :balance, nil, class: "form-control", required: true %>
                  <div class="input-group-text">.00</div>
                </div>
              </div>
              <div class="col">
                <%= label_tag :balance, "Conta destino", class: "form-label" %><br />            
                <select class="form-select" id="autoSizingSelect">
                  <option selected>Esclha uma conta...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-auto">
                <label class="form-label">&nbsp;</label><br/>
                <%= submit_tag "Solicitar", class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <%= render "partials/card_wallet" -%>
    </div>
  </div>
  <div class="filter mt-3">
    <nav class="navbar navbar-dark bg-primary">
      <form class="container-fluid justify-content-start">
        <button type="button" id="toggle_filter" class="btn btn-light btn-sm me-2">Esconder</button>
        <button type="button" id="clear_filter" class="btn btn-light btn-sm">Limpar filtro</button>
      </form>
    </nav>
    <div id="content_filter" class="card">
      <div class="card-body">
        <form class="form">
          <div class="row">
            <div class="col-3">
              <div class="input-group">
                <div class="input-group-text">De</div>
                <%= date_field_tag :from_date, @filters.from_date, class: "form-control" %>
              </div>
            </div>
            <div class="col-3">
              <div class="input-group">
                <div class="input-group-text">Até</div>
                <%= date_field_tag :to_date, @filters.to_date, class: "form-control" %>
              </div>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <% options = { 'Negado': false, 'Aprovado': true } %>
                <%= select_tag :approved, options_for_select(options, @filters.approved), { prompt: "-- Selecione um Status --", class: 'form-control chosen-select' } %>
              </div>
            </div>
            <div class="col-3">
              <div class="input-group">
                <%= text_field_tag :balance, @filters.balance, class: "form-control", placeholder: "Valor" %>
                <div class="input-group-text">.00</div>
              </div>
            </div>
          </div>
          <div class="row g-1 justify-content-end">
            <div class="col-auto">
              <%= submit_tag "Filtrar", class: "btn btn-success", data: { disable_with: 'Filtrando...' } %>
            </div>
            <div class="col-auto">
              <%= link_to 'Limpar filtro', backoffice_withdraws_path(clear_filter: true), class: 'btn btn-light btn-danger-hover', data: { disable_with: 'Limpando...' } %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Solicitações de Saque</h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Banco</th>
            <th scope="col">Conta</th>
            <th scope="col">Valor</th>
            <th scope="col">Situação</th>
          </tr>
        </thead>
        <tbody>
          <% if @withdraws.empty? -%>
            <tr>
              <td colspan="5">
                <div class="d-flex justify-content-center">
                  <span>Você ainda não fez nenhuma solicitação</span>
                </div>
              </td>
            </tr>
          <% else -%>
            <% @withdraws.each do |item| -%>
              <tr>
                <td><%= item.joined_at %></td>
                <td><%= item.id %></td>
                <td><%= item.id %></td>
                <td><%= item.balance_formatted %></td>
                <td>
                  <% if item.approved %>
                    <label class="badge rounded-pill bg-success">Aprovado</label>
                  <% else %>
                    <label class="badge rounded-pill bg-danger">Negado</label>
                  <%- end %>
                </td>
              </tr>
            <%- end -%>
          <% end -%>
        </tbody>
      </table>
      <div class="d-none d-sm-block">
        <%= paginate @withdraws %>
      </div>
    </div>
  </div>
</div>
