<div class="container py-3 mb-3">
  <div class="row mb-4">
    <div class="col">
      <h5 class="fw-bold">Compras de Tokens</h5>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to "Comprar Token", new_backoffice_purchase_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="filter">
    <nav class="navbar navbar-dark bg-primary">
      <form class="container-fluid justify-content-start">
        <button type="button" id="toggle_filter" class="btn btn-light btn-sm me-2">Esconder</button>
        <button type="button" id="clear_filter" class="btn btn-light btn-sm">Limpar filtro</button>
      </form>
    </nav>
    <div id="content_filter" class="card">
      <div class="card-body">
        <form class="form">
          <div class="row">
            <div class="col-3">
              <% periods = { 'Últimos 30 dias': '2022-07-23', 'Últimos 7 dias': '2022-08-16', 'Ontem': '2022-08-22', 'Hoje': '2022-08-23' } %>
              <%= select_tag :current_period, options_for_select(periods, @filters.current_period), { prompt: "-- Selecione um Periodo --", class: 'form-control chosen-select' } %>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <%= text_field_tag :code, @filters.code, class: "form-control", placeholder: "Código Pedido" %>
              </div>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <% statuses = human_attribute_enum('purchase', Purchase.statuses, 'status') %>
                <%= select_tag :status, options_for_select(statuses, @filters.status), { prompt: "-- Selecione um status --", class: 'form-control chosen-select' } %>
              </div>
            </div>
            <div class="col-3">
              <%= text_field_tag :amount, @filters.amount, class: "form-control", placeholder: "Qtd. Tokens" %>
            </div>
            <div class="col-3">
              <%= text_field_tag :total, @filters.total, class: "form-control", placeholder: "Valor Pago" %>
            </div>
          </div>
          <div class="row g-1 justify-content-end">
            <div class="col-auto">
              <%= submit_tag "Filtrar", class: "btn btn-success", data: { disable_with: 'Filtrando...' } %>
            </div>
            <div class="col-auto">
              <%= link_to 'Limpar filtro', backoffice_purchases_path(clear_filter: true), class: 'btn btn-light btn-danger-hover', data: { disable_with: 'Limpando...' } %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">COD</th>
            <th scope="col">Data Pedido</th>
            <th scope="col">Situação</th>
            <th scope="col">Tokens</th>
            <th scope="col">Valor</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% if @purchases.empty? -%>
            <tr>
              <td colspan="6">
                <div class="d-flex justify-content-center">
                  <span>Nenhuma compra encontrada</span>
                </div>
              </td>
            </tr>
          <% else -%>
            <% @purchases.each do |item| -%>
              <tr>
                <td scope="row"><%= item.code_formatted %></td>
                <td><%= item.joined_at %></td>
                <td>
                  <% if item.status == 'pending' %>
                    <label class="badge rounded-pill bg-warning">Pendente</label>
                  <% else %>
                    <label class="badge rounded-pill bg-success">Pago</label>
                  <%- end %>
                </td>
                <td><%= item.amount_formatted %></td>
                <td><%= item.total_formatted %></td>
                <td>
                  <div class="d-flex justify-content-center">
                    <%= link_to "Abrir", backoffice_purchase_path(item.id), type: "button", class: "btn btn-primary btn-sm" -%>
                  </div>
                </td>
              </tr>
            <%- end -%>
          <% end -%>
        </tbody>
      </table>
      <div class="d-none d-sm-block">
        <%= paginate @purchases %>
      </div>
    </div>
  </div>
</div>
