<nav class="navbar navbar-expand-lg navbar-dark py-4" style="background-color: #2E294E">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo360.png', alt: "Logo Company", height: '24', class: 'd-inline-block align-text-top' %>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <div class="dropdown notifications">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Notificações">
            <%= fa_icon "bell fw lg" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end notifications-dropdown shadow">
            <div class="notifications-dropdown notification-area">
              <a href="#" class="item dropdown-item text-center no-notification">
                <span class="d-inline-block">Não há notificações</span>
              </a>
            </div>
            <div class="justify-content-around border-top py-2 see-all-notifications d-none">
              <a href="/notificacoes/lista" class="d-block btn btn-link text-dark"><strong>Ver todas</strong></a>
            </div>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkIdiomas" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Alterar idioma">
            <%= fa_icon "globe fw lg" %>
            <span class="d-none d-md-inline">Português</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdownMenuLinkIdiomas">
            <a class="dropdown-item  active" href="https://escritorio.chancellercosmeticos.com.br/linguagem/alterar/pt_BR/backoffice">Português</a>
            <a class="dropdown-item " href="https://escritorio.chancellercosmeticos.com.br/linguagem/alterar/en_US/backoffice">English</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="me-1"><%= current_user.full_name %></span>
            <%= image_tag 'avatar.jpg', alt: "Avatar profile", class: "img-fluid", style: "max-height: 30px" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="navbarDropdownMenuLink">
            <span class="dropdown-item">Olá, <%= current_user.full_name %></span>
            <div class="dropdown-divider d-md-none"></div>
            <%= link_to backoffice_profile_path, class: "dropdown-item" do %>
              <span><%= fa_icon "user fw" %> Dados Pessoais</span>
            <%- end %>
            <%= link_to backoffice_documents_path, class: "dropdown-item" do %>
              <span><%= fa_icon "user fw" %> Meus Documentos</span>
            <%- end %>
            <%= link_to backoffice_banking_account_path, class: "dropdown-item" do %>
              <span><%= fa_icon "university fw" %> Conta Bancária</span>
            <%- end %>
            <a class="dropdown-item" href="/profile/terms"><%= fa_icon "book fw" %> Termos</a>
            <div class="dropdown-divider"></div>
            <%= link_to backoffice_address_path, class: "dropdown-item" do %>
              <span><%= fa_icon "home fw" %> Meu Endereço</span>
            <%- end %>
            <%= link_to backoffice_account_password_path, class: "dropdown-item" do %>
              <span><%= fa_icon "key fw" %> Alterar Senha</span>
            <%- end %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_session_path(:user), class: "dropdown-item" do%>
              <%= fa_icon "sign-out fw" %> <span>Sair</span>
            <%- end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container py-3 mb-3">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to backoffice_overview_path, class: "nav-link #{active_class_multiple([backoffice_overview_path])}" do %>
        <%= fa_icon "home lg" %><span>&nbsp;</span>Dashboard
      <%- end %>
    </li>
    <li class="nav-item">
      <%= link_to backoffice_purchases_path, class: "nav-link #{active_class_multiple([backoffice_purchases_path, new_backoffice_purchase_path])}" do %>
        <%= fa_icon "shopping-cart lg" %><span>&nbsp;</span>Pedidos de Compra
      <%- end %>
    </li>
    <li class="nav-item">
      <%= link_to backoffice_withdraws_path, class: "nav-link #{active_class_multiple([backoffice_withdraws_path])}" do %>
        <%= fa_icon "usd lg" %><span>&nbsp;</span>Solicitações de Saques
      <%- end %>
    </li>
    <li class="nav-item">
      <%= link_to backoffice_transactions_path, class: "nav-link #{active_class_multiple([backoffice_transactions_path])}" do %>
        <%= fa_icon "line-chart lg" %><span>&nbsp;</span>Movimentações
      <%- end %>
    </li>
    <li class="nav-item">
      <%= link_to backoffice_profile_path, class: "nav-link #{active_class_multiple([backoffice_profile_path, backoffice_account_password_path])}" do %>
        <%= fa_icon "user-circle lg" %><span>&nbsp;</span>Minha Conta
      <%- end %>
    </li>
  </ul>
</div>
