<div class="container py-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Movimentações financeira</h5>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">COD</th>
            <th scope="col">Data</th>
            <th scope="col">Operação</th>
            <th scope="col">Tokens</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% if @transactions.empty? -%>
            <tr>
              <td colspan="5">
                <div class="d-flex justify-content-center">
                  <span>Nenhuma movimentação encontrada</span>
                </div>
              </td>
            </tr>
          <% else -%>
            <% @transactions.each do |item| -%>
              <tr>
                <td scope="row"><%= item.code.upcase %></td>
                <td><%= item.created_at %></td>
                <td>
                  <% if item.operation == 'income' %>
                    <label class="badge rounded-pill bg-success">Entrada</label>
                  <% else %>
                    <label class="badge rounded-pill bg-danger">Saida</label>
                  <%- end %>
                </td>
                <td><%= item.point_amount %> BTC</td>
                <td>R$ <%= item.amount %></td>
                <td>
                  <div class="d-flex justify-content-center">
                    <%= link_to "Detalhes", backoffice_transaction_path(item.id), type: "button", class: "btn btn-primary btn-sm" -%>
                  </div>
                </td>
              </tr>
            <%- end -%>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>