<div class="container py-3 mb-3">
  <div class="row mb-4">
    <div class="col">
      <h5 class="fw-bold">Movimentações financeira</h5>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to "Comprar Token", new_backoffice_purchase_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="filter">
    <nav class="navbar navbar-dark bg-primary">
      <form class="container-fluid justify-content-start">
        <button type="button" id="toggle_filter" class="btn btn-light btn-sm me-2">Esconder</button>
        <button type="button" id="clear_filter" class="btn btn-light btn-sm">Limpar filtro</button>
      </form>
    </nav>
    <div id="content_filter" class="card">
      <div class="card-body">
        <%= form_tag backoffice_transactions_path, method: :get do -%>
          <div class="row">
            <div class="col-3">
              <div class="input-group">
                <div class="input-group-text">De</div>
                <%= date_field_tag :from_date, @filters.from_date, class: "form-control" %>
              </div>
            </div>
            <div class="col-3">
              <div class="input-group">
                <div class="input-group-text">Até</div>
                <%= date_field_tag :to_date, @filters.to_date, class: "form-control" %>
              </div>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <%= text_field_tag :code, @filters.code, class: "form-control", placeholder: "Código Pedido" %>
              </div>
            </div>
            <div class="col-3">
              <div class="mb-3">
                <% operation = { 'Entrada': 'income', 'Saida': 'expense'} %>
                <%= select_tag :operation, options_for_select(operation, @filters.operation), { prompt: "Operação", class: 'form-control chosen-select' } %>
              </div>
            </div>
            <div class="col-3">
              <div class="input-group">
                <div class="input-group-text">Valor maior</div>
                <%= text_field_tag :value_greater_than, @filters.value_greater_than, class: "form-control" %>
              </div>
            </div>
            <div class="col-3">
              <div class="input-group">
                <div class="input-group-text">Valor menor</div>
                <%= text_field_tag :value_less_than, @filters.value_less_than, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="row g-1 justify-content-end">
            <div class="col-auto">
              <%= submit_tag "Filtrar", class: "btn btn-success", data: { disable_with: 'Filtrando...' } %>
            </div>
            <div class="col-auto">
              <%= link_to 'Limpar filtro', backoffice_transactions_path(clear_filter: true), class: 'btn btn-light btn-danger-hover', data: { disable_with: 'Limpando...' } %>
            </div>
          </div>
        <%- end %>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Código</th>
            <th scope="col">Operação</th>
            <th scope="col">Tokens</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% if @transactions.empty? -%>
            <tr>
              <td colspan="5">
                <div class="d-flex justify-content-center">
                  <span>Nenhuma movimentação encontrada</span>
                </div>
              </td>
            </tr>
          <% else -%>
            <% @transactions.each do |item| -%>
              <tr>
                <td scope="row"><%= item.code %></td>
                <td><%= item.created_at %></td>
                <td><%= item.code %></td>
                <td>
                  <% if item.operation == 'income' %>
                    <label class="badge rounded-pill bg-success">Entrada</label>
                  <% else %>
                    <label class="badge rounded-pill bg-danger">Saida</label>
                  <%- end %>
                </td>
                <td><%= item.point_amount %> BTC</td>
                <td>R$ <%= item.amount %></td>
                <td>
                  <div class="d-flex justify-content-center">
                    <%= link_to "Visualizar", backoffice_transaction_path(item.id), type: "button", class: "btn btn-primary btn-sm" -%>
                  </div>
                </td>
              </tr>
            <%- end -%>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>