<%= render "partials/profile" do %>
  <div class="card">
    <div class="card-header">
      Dados Pessoais
    </div>
    <div class="card-body">
      <%= form_for @user, as: :user, url: backoffice_update_profile_path, method: :post, html: { class: "row g-3" } do |f| %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info">
            <%= msg %>
          </div>
        <% end %>
        <%= f.fields_for :profile_attributes, @user.profile do |p| %>
          <div class="col-md-6">
            <%= p.label :first_name, class: "form-label" %><br />
            <%= p.text_field :first_name, class: "form-control", autocomplete: "first_name", required: true %>
          </div>
          <div class="col-md-6">
            <%= p.label :last_name, class: "form-label" %><br />
            <%= p.text_field :last_name, class: "form-control", autocomplete: "last_name" %>
          </div>
          <div class="col-md-6">
            <%= p.label :gender, class: "form-label" %><br />
            <%= p.radio_button :gender, "male" %> Homem
            <%= p.radio_button :gender, "female" %> Mulher
          </div>
          <div class="col-md-6">
            <%= p.label :birth_date, class: "form-label" %><small class="mx-1">(Optional)</small><br />
            <%= p.date_field :birth_date, class: "form-control", value: "1922-01-01", required: true %>
          </div>
          <div class="col-md-6">
            <%= p.label :phone_number, class: "form-label" %><br />
            <%= p.text_field :phone_number, class: "form-control", autocomplete: "phone_number", required: true %>
          </div>
        <%- end %>
        <div class="col-md-6">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, class: "form-control", autocomplete: "email", required: true %>
        </div>
        <div class="col-12">
          <%= f.submit "Atualizar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<%- end %>
