<style>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signup {
  width: 100%;
  max-width: 960px;
  padding: 15px;
  margin: auto;
}

.form-signup .checkbox {
  font-weight: 400;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="form-signup">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <%= image_tag 'logo360', style: 'max-height: 50px;padding: 5px 0px;' %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.fields_for :profile_attributes, @user.profile do |p| %>
          <div class="card mb-4">
            <h6 class="card-header">
              <%= fa_icon "user-circle fw" %> Dados Pessoais
            </h6>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <%= p.label :first_name, class: "form-label" %>
                    <b class="text-danger">*</b>
                    <%= p.text_field :first_name, autofocus: true, class: "form-control", required: true %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <%= p.label :last_name, class: "form-label" %>
                    <%= p.text_field :last_name, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <%= p.label :gender, class: "form-label" %>
                    <% @gender_values = { 'male': 'Masculino', 'female': 'Feminino' } %>
                    <%= p.select :gender, options_from_collection_for_select(@gender_values, :first, :last, '2'), { include_blank: false, prompt: 'Selecione um sexo' }, { class: "form-control" } %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <%= p.label :birth_date, class: "form-label" %>
                    <b class="text-danger">*</b>
                    <%= p.text_field :birth_date, class: "form-control", required: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <h6 class="card-header">
              <%= fa_icon "phone-square fw" %> Contato
            </h6>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <%= p.label :phone_number, class: "form-label" %>
                    <b class="text-danger">*</b>
                    <%= p.text_field :phone_number, class: "form-control", required: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card mb-4">
          <h6 class="card-header">
            <%= fa_icon "key fw" %> Dados de acesso
          </h6>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <%= f.label :email, class: "form-label" %>
                  <b class="text-danger">*</b>
                  <%= f.email_field :email, autocomplete: "email", class: "form-control", required: true %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <%= f.label :email_confirmation, class: "form-label" %>
                  <b class="text-danger">*</b>
                  <%= f.email_field :email_confirmation, class: "form-control", required: true %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <%= f.label :password, class: "form-label" %>
                  <b class="text-danger">*</b>
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
                  <small class="text-muted mb-0">Sua senha precisa conter no mínimo 8 caracteres (letras e números e ao menos 1 letra maiúscula e 1 letra minúscula)</small>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <%= f.label :password_confirmation, class: "form-label" %>
                  <b class="text-danger">*</b>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "Finalizar cadastro", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
